In [16]:
import cv2
import numpy as np
import pandas as pd

In [33]:
# FABRIC_LINE = "kona_cotton"
FABRIC_LINE = "artisan_batiks_prisma_dyes"

In [34]:
# Read in data
df = pd.read_csv("../web/data/" + FABRIC_LINE + ".csv")
df

               id       name               src
0      AMD-7000-2      BLACK    AMD-7000-2.jpg
1      AMD-7000-3        RED    AMD-7000-3.jpg
2      AMD-7000-4       BLUE    AMD-7000-4.jpg
3      AMD-7000-8     ORANGE    AMD-7000-8.jpg
4      AMD-7000-9       NAVY    AMD-7000-9.jpg
..            ...        ...               ...
151  AMD-7000-470  HYDRANGEA  AMD-7000-470.jpg
152  AMD-7000-471   LARKSPUR  AMD-7000-471.jpg
153  AMD-7000-472     DAHLIA  AMD-7000-472.jpg
154  AMD-7000-473    BOUQUET  AMD-7000-473.jpg
155  AMD-7000-474   HONEYDEW  AMD-7000-474.jpg

[156 rows x 3 columns]

In [35]:
# Extract the average rgb colors from an image
def extract_rgb(src):
    myimg = cv2.imread("images/" + FABRIC_LINE + "/" + src)
    cropped = list(map(lambda x: x[5:-5], myimg[5:-5]))
    avg_color_per_row = np.average(cropped, axis=0)
    (b, g, r) = np.round(np.average(avg_color_per_row, axis=0)).astype(int)
    return (r, g, b)

In [36]:
# Apply extraction to all images
df["rgb"] = df['src'].apply(extract_rgb)
df

               id       name               src              rgb
0      AMD-7000-2      BLACK    AMD-7000-2.jpg     (32, 31, 31)
1      AMD-7000-3        RED    AMD-7000-3.jpg    (165, 31, 37)
2      AMD-7000-4       BLUE    AMD-7000-4.jpg    (37, 72, 148)
3      AMD-7000-8     ORANGE    AMD-7000-8.jpg    (235, 80, 32)
4      AMD-7000-9       NAVY    AMD-7000-9.jpg     (26, 29, 45)
..            ...        ...               ...              ...
151  AMD-7000-470  HYDRANGEA  AMD-7000-470.jpg  (173, 177, 233)
152  AMD-7000-471   LARKSPUR  AMD-7000-471.jpg  (139, 199, 250)
153  AMD-7000-472     DAHLIA  AMD-7000-472.jpg  (253, 235, 235)
154  AMD-7000-473    BOUQUET  AMD-7000-473.jpg  (247, 233, 240)
155  AMD-7000-474   HONEYDEW  AMD-7000-474.jpg  (236, 253, 202)

[156 rows x 4 columns]

In [37]:
# Write data to csv
df.to_csv("../web/data/" + FABRIC_LINE + ".csv", index=False)